*.o
*~
*.dSYM
test_ntt
test_ntt16
test_ntt256
test_ntt512
test_ntt1024
kat_mul1024
speed_mul1024
kat_mul1024_red
speed_mul1024_red
test_ntt_red16
test_ntt_red256
test_ntt_red512
test_ntt_red1024
test_ntt_red
test_red_bounds
test_avx
test_avx_support
make_tables
make_red_tables
make_bitrev_table
ntt16_tables.h
ntt16_tables.c
ntt256_tables.h
ntt256_tables.c
ntt512_tables.h
ntt512_tables.c
ntt1024_tables.h
ntt1024_tables.c
ntt_red16_tables.h
ntt_red16_tables.c
ntt_red256_tables.h
ntt_red256_tables.c
ntt_red512_tables.h
ntt_red512_tables.c
ntt_red1024_tables.h
ntt_red1024_tables.c
bitrev16_tables.h
bitrev16_tables.c
bitrev256_tables.h
bitrev256_tables.c
bitrev512_tables.h
bitrev512_tables.c
bitrev1024_tables.h
bitrev1024_tables.c
